.dropbtn {
	/* Dropdown Button */
	background-color: #4CAF50;
	color: white;
	padding: 0;
	font-size: 15px;
	border: none;
	cursor: pointer;
	height: 40px;
	width: 120px;
	vertical-align: middle;
	text-align: center;
}

.dropbtn:hover,
/* Dropdown button on hover & focus */
.dropbtn:focus {
	background-color: #3e8e41;
}

.dropdown {
	/* The container <div> - needed to position the dropdown content */
	position: relative;
	display: inline-block;
}

.dropdown-content {
	/* Dropdown Content (Hidden by Default) */
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 99;
	/* 解决页面有其他内容时被覆盖隐藏的问题,z-index的值越大,意味这一层在越上面,要使z-index生效,仅当position的值为absolute,relative或fixed 其中一个即可 */
}

.dropdown-content a {
	/* Links inside the dropdown */
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	/* Change color of dropdown links on hover */
	background-color: #f1f1f1
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
	display: block;
}

.right {
	position: fixed;
	top: 42px;
	right: 50px;
}

.leng_hw {
	position: fixed;
	top: 35px;
	left: 50px;
	font-size: 40px;
	font-weight: bold;
}
